.root-container {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--dark-grey);
  width: 100%;
  margin-top: 8.6rem;
  padding: 2.5rem 10.25rem 3.1rem;
}

.main-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem 0;
}

.main-content article {
  width: 40%;
  padding-top: 1.2rem;
}

.main-content article h2 {
  height: 5.5rem;
  font-family: var(--space-grotesk);
  font-size: 5.5rem;
  letter-spacing: -2.5px;
  padding-bottom: 0.8rem;
}

.main-content article p {
  font-family: var(--space-grotesk);
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.55;
  white-space: pre-line;
  color: var(--light-grey);
  margin-top: 2rem;
  padding-bottom: 0.1rem;
}

.main-content form {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-bottom: 1.2rem;
}

.main-content form input,
.main-content form textarea {
  font-family: var(--space-grotesk);
  font-weight: 500;
  font-size: 1rem;
  color: var(--white);
  background-color: var(--dark-grey);
  border: none;
  border-bottom: 1.5px solid var(--white);
  padding: 1rem 1.5rem;
}

.main-content form textarea {
  resize: none;
  height: 120px;
}

.main-content form input.error,
.main-content form textarea.error {
  border-bottom: 1.5px solid var(--red);
}

.main-content form input:focus,
.main-content form textarea:focus {
  outline: none;
  border-bottom: 1.5px solid var(--green);
}

.main-content form input::placeholder,
.main-content form textarea::placeholder {
  color: var(--white);
  opacity: 0.5;
}

.oval-design {
  position: absolute;
  left: 0;
  bottom: 13.65rem;
}

.navbar-container {
  border-top: 2px solid var(--white);
  margin-top: 2.7em;
  align-self: center;
  width: 100%;
}

.navbar {
  padding: 2.6rem 0 2.4rem;
}

.navbar ul li {
  align-self: flex-end;
}

.navbar ul li a {
  display: flex;
}

.button {
  font-family: var(--space-grotesk);
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.625;
  letter-spacing: 2.29px;
  align-self: flex-end;
  background-color: var(--dark-grey);
  margin-top: 0.2rem;
}

.error-msg {
  font-family: var(--space-grotesk);
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.3;
  height: 16px;
  letter-spacing: -0.17px;
  color: var(--red);
  text-align: right;
  margin-top: 0.3rem;
}

@media (max-width: 64rem) {
  .root-container {
    padding: 2.5rem 6.25rem 3.1rem;
  }

  .main-content article {
    width: 50%;
  }

  .main-content article h2 {
    font-size: 4rem;
  }

  .main-content article p {
    font-size: 1rem;
  }

  .oval-design {
    width: 30%;
  }
}

@media (max-width: 48rem) {
  .root-container {
    padding: 2.5rem 2rem 3.1rem;
  }

  .main-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main-content article {
    width: 70%;
    text-align: center;
    padding-top: 0;
  }

  .main-content form {
    width: 70%;
  }

  .main-content article p {
    margin-top: 0;
  }
}

@media (max-width: 30rem) {
  .main-content article {
    width: 100%;
  }

  .main-content form {
    width: 100%;
    margin-top: 2rem;
  }

  .oval-design {
    width: 70%;
    left: -5em;
    bottom: 18.6em;
  }
}
