.root-container {
  background-color: #242424;
  width: 93.7%;
  margin-top: 8.6rem;
  padding: 5.55rem 0 3.1rem;
}

.main-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 10.25rem;
}

.main-content article {
  /* display: flex; */
  flex-direction: column;
  width: 40%;
}

.main-content article h1 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 88px;
  font-family: var(--space-grotesk);
  font-size: 5.5rem;
  letter-spacing: -2.5px;
  padding-bottom: 0.8rem;
}

.main-content article p {
  font-family: var(--space-grotesk);
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 28px;
  white-space: pre-line;
  color: #d9d9d9;
  margin-top: 2rem;
  padding-bottom: 0.1rem;
}

.main-content form {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.oval-design {
  margin-top: 2rem;
}

.navbar-container {
  border-top: 2px solid #ffffff;
  margin: 2.7rem 10.25rem 0;
}

.navbar {
  padding: 2.6rem 0 2.4rem;
}

.navbar ul li {
  align-self: flex-end;
}

.navbar ul li a {
  display: flex;
}
