.root-container {
  position: relative;
  background-color: #242424;
  width: 93.7%;
  margin-top: 8.6rem;
  padding: 2.5rem 0 3.1rem;
}

.main-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem 10.25rem;
}

.main-content article {
  width: 40%;
  padding-top: 1.2rem;
}

.main-content article h1 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 88px;
  font-family: var(--space-grotesk);
  font-size: 5.5rem;
  letter-spacing: -2.5px;
  padding-bottom: 0.8rem;
}

.main-content article p {
  font-family: var(--space-grotesk);
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 28px;
  white-space: pre-line;
  color: #d9d9d9;
  margin-top: 2rem;
  padding-bottom: 0.1rem;
}

.main-content form {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-bottom: 1.2rem;
}

.main-content form input,
.main-content form textarea {
  font-family: var(--space-grotesk);
  font-weight: 500;
  font-size: 1rem;
  color: var(--white);
  background-color: var(--dark-grey);
  border: none;
  border-bottom: 1.5px solid var(--white);
  padding: 1rem 1.5rem;
}

.main-content form input.error,
.main-content form textarea.error {
  border-bottom: 1.5px solid var(--red);
}

.main-content form input:focus,
.main-content form textarea:focus {
  outline: none;
  border-bottom: 1.5px solid var(--green);
}

.main-content form input::placeholder,
.main-content form textarea::placeholder {
  color: var(--white);
  opacity: 0.5;
}

.main-content form textarea {
  resize: none;
  height: 120px;
}

.oval-design {
  position: absolute;
  bottom: 13.65rem;
}

.navbar-container {
  border-top: 2px solid var(--white);
  margin: 2.7rem 10.25rem 0;
}

.navbar {
  padding: 2.6rem 0 2.4rem;
}

.navbar ul li {
  align-self: flex-end;
}

.navbar ul li a {
  display: flex;
}

.button {
  font-family: var(--space-grotesk);
  font-size: 16;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 2.29px;
  align-self: flex-end;
  background-color: var(--dark-grey);
  width: 33%;
  margin-top: 0.2rem;
}

.error-msg {
  font-family: var(--space-grotesk);
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  height: 16px;
  letter-spacing: -0.17px;
  color: var(--red);
  text-align: right;
  margin-top: 0.3rem;
}
