.hero-section {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-top: 5.25rem;
}

.hero-section h1 {
  font-family: var(--space-grotesk);
  font-size: 5.5rem;
  letter-spacing: -2.5px;
  line-height: calc(88rem / 16);
  white-space: pre-line;
}

.hero-section span {
  margin-left: 1.3rem;
}

.hero-section hr {
  border: none;
  border-top: 0.35rem solid #4ee1a0;
  width: calc(492rem / 16);
  margin: 0 8.6rem;
}

.hero-section p {
  font-family: var(--space-grotesk);
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 28px;
  white-space: pre-line;
  color: #d9d9d9;
  margin-top: 2.45rem;
}

.image-container {
  position: absolute;
  z-index: -1;
  top: -12.3em;
  right: 6.1em;
}

.white-circle {
  position: absolute;
  left: -4rem;
  bottom: 4.6rem;
}

.ovals-design{
  position: absolute;
  top: 8.295em;
  left: -0.5px;
}

.button {
  margin-top: 3.5rem;
}