.hero-section {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-top: 5.25rem;
}

.hero-section h1 {
  font-family: var(--space-grotesk);
  font-size: 5.5rem;
  letter-spacing: -2.5px;
  line-height: calc(88rem / 16);
  white-space: pre-line;
}

.hero-section span {
  position: relative;
  margin-top: 5rem;
  margin-left: 1.3rem;
}

.hero-section span::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: 5.8px;
  width: 100%;
  height: 0.35rem;
  background-color: var(--green);
}

.hero-section p {
  font-family: var(--space-grotesk);
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 28px;
  white-space: pre-line;
  color: var(--light-grey);
  margin-top: 2.45rem;
}

.image-container {
  position: absolute;
  z-index: -1;
  top: -12.3em;
  right: 0;
}

.white-circle {
  position: absolute;
  left: -4rem;
  bottom: 4.6rem;
}

.ovals-design {
  position: absolute;
  top: 8.295em;
  left: -0.5px;
}

.button {
  margin-top: 3.5rem;
  padding-right: 0.1rem;
}

@media (max-width: 1024px) {
  .hero-section {
    margin-top: 0;
  }

  .hero-section h1 {
    font-size: 4rem;
  }

  .hero-section span::after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 2.5px;
    width: 100%;
    height: 0.35rem;
    background-color: var(--green);
  }

  .image-container {
    position: absolute;
    z-index: -1;
    top: -7.2em;
    right: -5.5em;
  }

  .display-picture {
    width: 80%;
  }

  .ovals-design {
    width: 30%;
  }
}

@media (max-width: 768px) {
  .image-container {
    top: -7.1em;
    right: -12.2em;
  }

  .white-circle {
    left: 14.5em;
    bottom: 0.25em;
  }

  .hero-section h1 {
    
  }
}