.root-container {
  display: flex;
  flex-direction: column;
  margin-top: 4.35rem;
}

.root-container h2 {
  font-family: var(--space-grotesk);
  font-size: 5.5rem;
  letter-spacing: -2.5px;
  line-height: 1;
  padding-left: 0.5px;
}

.button {
  align-self: center;
  margin-bottom: 8px;
}

.project-header {
  display: flex;
  justify-content: space-between;
}

.list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 70px;
  column-gap: 5px;
  margin-top: 80px;
}

.list-container li {
  list-style: none;
  width: 48.7%;
}

.list-container li div {
  display: flex;
}

.list-container li h3 {
  font-family: var(--space-grotesk);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.33;
  color: var(--white);
  margin-top: 1rem;
}

@media (max-width: 64rem) {
  .root-container h2 {
    font-size: 4.5rem;
  }

  .list-container li h3 {
    font-size: 1.2rem;
  }
}

@media (max-width: 30rem) {
  .root-container h2 {
    font-size: 2.5rem;
  }

  .list-container {
    margin-top: 30px;
  }

  .list-container li {
    width: 100%;
  }

  .list-container li h3 {
    font-size: 1.5rem;
  }
}
