.root-container {
  position: relative;
  border-top: 1.6px solid #ffffff;
  margin-top: 13.65rem;
  padding: 72px 0px;
}

.list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 58px;
}

.list-container li {
  list-style: none;
  width: 33%;
  padding-left: 5px;
}

.list-container li h1 {
  font-family: var(--space-grotesk);
  font-size: 3rem;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -1.5px;
}

.list-container li p {
  font-family: var(--space-grotesk);
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 28px;
  color: #d9d9d9;
  margin-top: 0.8rem;
}

.root-container img {
  position: absolute;
  right: -10.25em;
  bottom: 0.9em;
}

@media (max-width: 1024px) {
  .list-container li h1 {
    font-size: 2.5rem;
  }

  .list-container li p {
    font-size: 1rem;
  }

  .root-container img {
    position: absolute;
    right: -6.2em;
    bottom: 0.9em;
    width: 30%;
  }
}

@media (max-width: 768px) {
  .root-container {
    margin-top: 5rem;
  }
}