.root-container {
  position: relative;
  border-top: 1.6px solid #ffffff;
  border-bottom: 1.6px solid #ffffff;
  margin-top: 13.65rem;
  padding: 72px 0px;
}

.root-container h2 {
  font-family: var(--space-grotesk);
  font-size: 5.5rem;
  letter-spacing: -2.5px;
  line-height: 1;
  padding-left: 0.5px;
  text-align: center;
}

.list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 58px;
  margin-top: 4rem;
}

.list-container li {
  list-style: none;
  width: 33%;
  padding-left: 5px;
  text-align: center;
}

.list-container li h2 {
  font-family: var(--space-grotesk);
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: -1.5px;
}

.list-container li {
  object-fit: cover;
}

.list-container li img {
  width: 40%;
}

.list-container li p {
  font-family: var(--space-grotesk);
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.55;
  color: var(--light-grey);
  margin-top: 0.8rem;
}

.ovals-design {
  position: absolute;
  right: -10.25em;
  bottom: 0.9em;
}

/* 1024px */
@media (max-width: 64rem) {
  .list-container li h2 {
    font-size: 2.5rem;
  }

  .list-container li p {
    font-size: 1rem;
  }

  .root-container h2 {
    font-size: 4.5rem;
  }

  .ovals-design {
    position: absolute;
    right: -6.2em;
    bottom: 0.9em;
    width: 30%;
  }
}

/* 768px */
@media (max-width: 48rem) {
  .root-container {
    margin-top: 5rem;
  }

  .list-container li {
    width: 50%;
  }
}

/* 480px */
@media (max-width: 30rem) {
  .root-container {
    border-bottom: 1.6px solid #ffffff;
  }

  .root-container h2 {
    font-size: 2.5rem;
  }

  .list-container {
    justify-content: center;
  }

  .list-container li {
    width: 100%;
    text-align: center;
  }

  .list-container li p {
    font-size: 1.3rem;
    margin-top: 0;
  }

  .ovals-design {
    position: absolute;
    right: -13em;
    bottom: -5em;
    width: 100%;
  }
}
