.app-container {
  position: relative;
  overflow: hidden;
}

.main-container {
  min-height: 100vh;
  margin: 0 10.25rem;
}

.navbar {
  padding: 2.25rem 10.25rem;
}

.navbar ul {
  align-items: center;
  height: 2rem;
  margin-right: 1.8rem;
}

.navbar ul li a {
  display: flex;
}

/* TODO: add media query for max-width: 1366px */

@media (max-width: 1024px) {
  .main-container {
    margin: 0 6.25rem;
  }

  .navbar {
    padding: 2.25rem 6.25rem;
  }
}

@media (max-width: 768px) {
  .main-container {
    margin: 0 2rem;
  }

  .navbar {
    padding: 2.25rem 2rem;
  }

  .navbar ul {
    margin-right: 0;
  }
}

@media (max-width: 480px) {
  .navbar {
    padding: 2.25rem 2rem 0;
  }
}

@media (min-width: 1920px) {
  .app-container {
    max-width: 1920px;
    margin: 0 auto;
  }

  .main-container {
    min-height: 0;
  }
}
