.app-container {
  position: relative;
  overflow: hidden;
}

.container {
  min-height: 100vh;
  margin: 0 10.25rem;
}

.navbar {
  padding: 2.25rem 10.25rem;
}

.navbar ul {
  align-items: center;
  height: 2rem;
  margin-right: 1.8rem;
}

.navbar ul li a {
  display: flex;
}

/* TODO: add media query for max-width: 1366px */

@media (max-width: 1024px) {
  .container {
    margin: 0 6.25rem;
  }

  .navbar {
    padding: 2.25rem 6.25rem;
  }
}

@media (max-width: 768px) {
  .container {
    margin: 0 2rem;
  }

  .navbar {
    padding: 2.25rem 2rem;
  }

  .navbar ul {
    margin-right: 0;
  }
}

/* TODO: complete media query for screens greater than 1920px */
