.button {
  font-family: var(--space-grotesk);
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.625;
  letter-spacing: 2.29px;
  border: 0;
  cursor: pointer;
  color: #ffffff;
  background-color: var(--black);
  border-bottom: 2.4px solid var(--green);
  padding: 0.6rem 0;
}
