.nav-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-content h2 {
  font-family: var(--space-grotesk);
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: -0.44px;
}

.nav-content ul {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  list-style: none;
}

/* 480px */
@media (max-width: 30rem) {
  .nav-content ul {
    gap: 1.25rem;
  }
}
